<style type="text/css">
.foohi{
    height: 4.34667rem;
	}
.footer2 {
    height: 3.13333rem;
    background: #fff;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    -moz-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
    -webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
    box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
}	
.footer2 ul li {
    float: left;
    text-align: center;
    width: 25%;
}
.footer2 ul li a .icon {
    margin-top: 0.128rem;
}
</style>
<div class="foohi">
    <div class="footer2">
        <ul>
            <li>
                <a class="yello" href="/wap">
                    <div class="icon">
                    	<i class="icon iconfont"><!--<img src="__IMG__/zy.png" width="24">--></i> 
                        <p>首页</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/wap/fn/0.html">
                    <div class="icon">
					<i class="icon iconfont"><!--<img src="__IMG__/tl.png" width="24">--></i> 
                        <p>快讯</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/wap/tl.html">
                    <div class="icon">
					<i class="icon iconfont"><!--<img src="__IMG__/zl.png" width="24">--></i> 
                        <p>讨论区</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/wap/jb.html">
                    <div class="icon">
                        <p>币种资料库</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>